{% extends 'template.html' %} {% block content %}
<div class="card">
    <div class="card-header">
        <h4>{{subjudul}}</h4>
    </div>
    <div class="card-body">
        <div class="buttons">
            <a href="/daftarbuku/tambahbuku" class="btn btn-icon icon-left btn-primary"><i class="far fa-edit"></i> {{buttontambah}}</a>
        </div>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Judul Buku</th>
                    <th scope="col">Pengarang</th>
                    <th scope="col">Penerbit</th>
                    <th scope="col">Tahun Terbit</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for no, books in listBuku %}
                <tr>
                    <th scope="row">{{no+1}}</th>
                    <td>{{books.judulbuku}}</td>
                    <td>{{books.pengarang}}</td>
                    <td>{{books.penerbit}}</td>
                    <td>{{books.tahunterbit}}</td>
                    <td>{{books.kategori}}</td>
                    <td>
                        <a href="/daftarbuku/ubahbuku/{{ books.id }}" class="btn btn-icon icon-left btn-warning"><i class="fas fa-file"></i> Ubah</a>
                        <a href="/daftarbuku/hapusbuku/{{ books.id }}" class="btn btn-icon icon-left btn-danger"><i class="fas fa-times"></i> Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div> {% endblock %}