<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html">Digital Library STMIK</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">DL</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">List Buku</li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-columns"></i><span>Buku</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link beep beep-sidebar" href="/daftarbuku">Daftar Buku</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="/daftarbuku/tambahbuku">Tambah Buku</a></li>
                </ul>
            </li>
            <li class="menu-header">List Member</li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Member</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link beep beep-sidebar" href="/daftarmember">Daftar Member</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="/daftarmember/tambahmember">Tambah Member</a></li>
                </ul>
            </li>
            <li class="menu-header">Peminjaman Dan Pengembalian</li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Peminjaman</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link beep beep-sidebar" href="/daftarpinjam">Daftar Peminjaman</a></li>
                    <li>
                        <a class="nav-link beep beep-sidebar" href="/daftarpinjam/tambahpinjam">Tambah Peminjam</a>
                    </li>

                </ul>
            </li>
            <!-- <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Pengembalian</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link beep beep-sidebar" href="components-avatar.html">Daftar Pengembalian</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="components-avatar.html">Tambah Pengembalian</a></li>

                </ul>
            </li> -->


        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
            </a>
        </div>
    </aside>
</div>